.assignments {
	border: solid 2px forestgreen;
	margin: 0 20vmax;
	background-color: #fc930a;
}

.assignment {
	text-align: left;
	padding: 5px;
	margin: 10px auto;
	border: solid 1px black;
	width: 90%;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.active {
	background-color: lightgreen;
}

.action {
	margin: 0 5px;
	border: none;
	background: none;
}

.Tabling {
	width: 100%;
	top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
