.assignments {
	border: solid 2px forestgreen;
	margin: 0 20vmax;
}

.assignment {
	text-align: left;
	padding: 5px;
	margin: 10px auto;
	border: solid 1px black;
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.action {
	margin: 2px;
}

.Tabling {
	width: 100%;
	top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
