.student-data-table {
	margin: auto;
}

.student-file-input {
	margin: 30px;
}

.student-file-form {
	border: solid 2px black;
	width: fit-content;
	margin: auto;
	padding: 10px;
}

/* input[type="file"] {
	display: none;
}

.file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	border-radius: 6px;
	cursor: pointer;
	background-color: #ff9248;
	color: white;
} */

.btn {
	background-color: #ff9248;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 15px;
}

.download-div {
	display: flex;
	justify-content: center;
}

.dnld-div {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: 5%
}