.home-page {
	height: 100%;
}

.buttons {
	/* display: flex; */
	align-items: center;
	justify-content: space-between;
	width: 50%;
	height: 50%;
	margin: auto;
}

.home-button {
	width: 100%;
	height: 20%;
}

.to-assignments {
	background-color: lightcoral;
}

.to-grades {
	background-color: lightgreen;
}

.to-students {
	background-color: lightblue;
}