.login-page {
	height: 90%;
	padding: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fda172;
}

.welcome {
	width: 30%;
	background-color: white;
	/* border: solid 1px black; */
	border-radius: 10px;
	box-shadow:inset;
}

.welcome h3 {
	font-weight: bold;
	color: #466aff;
}

.login-form {
	width: 80%;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.login-input {
	width: 100%;
	border-radius: 10px;
	border: solid 1px gray;
	margin: 0;
	height: 30px;
	background-color: #d3d3d3;
}

.login-label {
	justify-content: left;
	font-size: 15px;
	margin: 0;
	padding: 0;
	color: #666;
}

.login-label p {
	margin-bottom: 0;
}

.login-btn {
	background-color: #466aff;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	padding: 10px;
	color: white;
	font-size: 15px;
	width: 100%;
}