.navbar {
  width: 100%;
  height: 10%;
  background: #466aff;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.links {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 100%;
}

.left {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  min-height: 100%;
}

.left h3 {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 100%;
  width: auto;
}

.right {
  display: flex;
  width: 33%;
  align-items: right;
  justify-content: right;
  margin: 0 auto;
  min-height: 100%;
}

.navlink {
  padding: 5px;
  border-radius: 10px;
}

.current {
  background-color: #163acf;
}

.logout {
  background-color: #163acf;
  color: white;
  padding: 10px;
  border: solid 2px white;
  border-radius: 5px;
  padding: 5%;
}